<div class="user_profile">
  <p>
    <%= link_to "Hit me", questions_path %>
  </p>
<br>
  <table id="user_questions">
    <tr>
      <td> Questions </td>
      <td> Comments </td>
      <td> Comfort Level </td>
    </tr>
  </table>
</div>
