<div class="user_profile">
  <p>
    <%= link_to "Hit me", questions_path %>
  </p>
<br>

  <div class="user_questions">
    <% @comments.each do |element| %>
      <%= element.question.title %> <br>
      <%= element.comments %><br>
      <%= link_to "Edit Comment", edit_user_question_path(element) %>
    <% end %>
  </div>
</div>
