<div class="welcome_box">
  <h2>
    Welcome
  </h2>

  <h5>
    You've received rigorous training and look to thoroughly prepare for upcoming interviews. Or you just want to keep interview skills sharp.
    <br>
    New users simply click on 'Get Login' below to access the portal.
  </h5>

  <%= link_to "Get Login", create_user_path, class: "btn btn-default" %>
</div>
